<%= form_for @message, :url => message_path do |form| %>
    <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>
    
    <div class="field">
      <%= form.label :email %>
      <%= form.text_field :email %>
    </div>

	<p>I would like to know more about...</p>
	
	<ul>
		<% MBJConstants::PRODUCTS_LIST.each do |key, value| %>
		<li>
		  <%= check_box_tag "product_ids[]", value %>
		  <%= format_hash_key(key) %>
		</li>
		<% end %>
	</ul>
  
    <%= form.submit "Send" %>
<% end %>