<% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>

<%= form_for @message, :url => message_path do |form| %>
	<div class="field hidden">
      <input id="message_now" name="message[now]" type="text" value="<%= @today %>" />
    </div>
	
	<div class="field address">
      <label for="message_about">About</label>
      <input id="message_about" name="message[about]" type="text" />
    </div>

    <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>
    
    <div class="field push_bottom">
      <%= form.label :email %>
      <%= form.text_field :email %>
    </div>

	<div class="field push_bottom">
		<p>I would like to know more about...</p>
		
		<ul>
			<% MBJConstants::PRODUCTS_LIST.each do |key, value| %>
			<li>
			  <%= check_box_tag "product_ids[]", value %>
			  <%= format_hash_key(key) %>
			</li>
			<% end %>
		</ul>
	</div>
  
	<div class="field push_bottom">
      <%= form.label :additional_details %><br>
      <%= form.text_area :additional_details, rows: 5 %>
    </div>
  
    <%= form.submit "Send" %>
<% end %>