<!DOCTYPE html>
<html>
<head>
  <title>Madebyjessa</title>
  
  <meta name="viewport" content="width=width, initial-scale=1">
  
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  
  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>
</head>
<body>
	
	<div class="wrap">
		<%= yield %>
	</div>
	
	<%= render 'layouts/footer' %>

</body>
</html>
